extends layout

block content
  div(class='container')
    h1= title
    p Welcome to #{title}
    form(method='post', enctype='multipart/form-data')
      div(class='mb-3')
        label(for='nama', class='form-label') Nama
        input(type="text", class='form-control', id='nama', name='nama')
      div(class='mb-3')
        label(for="kelas", class='form-label') Kelas 
        input(type="text", class='form-control', id='kelas', name='kelas') 
      div(class='mb-3')
        label(for='imageupload', class='form-label') File
        input(type='file', class='form-control', name='imageupload', id='imageupload')
      input(type='submit', class='btn btn-primary', name='uploadimage', value='Upload Image')